@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h2, h4 {
    font-family: 'Ownglyph_meetme-Rg';

}

#DetailBanner {
    background-image: url("../images/bg_2-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 15em 0;
    margin-top: 90px;
    text-align: center;
    position: relative;
    height: 200px;
}

#DetailBanner:before {
    content: '';
      position: absolute;
      left: 50%;
      top: 0;
     transform: translateX(-50%); /* 가운데로 이동 */
      width: 100%; /* 너비를 60%로 설정 */
      height: 100%;
      background: rgba(64, 72, 80, 0.25);			
}

.PetDetail {
    margin: 30px 50px 50px 50px;
}

#petProfil {
    margin: 0 auto; /* 수평 가운데 정렬을 위한 왼쪽과 오른쪽 마진을 자동으로 설정합니다. */
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 100%; 
    width: 100%;
    /* padding: 1.5rem; */
    /* background-color: #f8fbff; */
    justify-content: space-around;
}

.col-md-5 {
    padding-left: 0rem !important;
    width: 400px; 
    height: 400px; 
    overflow: hidden;
    justify-content: center;
    width: 400px;
}

.col-md-5 > img {
    align-self: stretch;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-right: 0px;

    border-radius: 100%;
    border: 5px;
    border-style: solid;
    border-color: #6fd6abbe;   
}

#status {
    margin : 0px 0px 0px 0px;
}

#status > .col-md-6 {
    padding-left: 30px !important;
    padding-right: 30px !important;

}

.col-md-7 {
    /* padding-left: 100px !important ; */
    padding-right: 12px !important;  
    width: 33% !important;
    
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.pl-3 {
    text-align: left !important;
}

#PetName {
    padding-top: 1rem !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    text-align: left !important;
}

#PetAge {
    background-color: #f8fbff;
}

#PetSpecies {
    background-color: #f8fbff;
}

#AllDiary {
    display: inline;
    margin-left: 10px;
    font-family: 'Ownglyph_meetme-Rg';
    font-weight: bold;
    font-size: 24px;
}

#AllDiary > a {
    color: rgb(96, 184, 255);
    text-decoration: none;
}

.col-md-7 .d-grid {
    margin-left: 25%;
}

/* PetDiary */

.PetDiary {
    margin: 70px 50px 50px 50px;
} 

/* PetCalc */

.PetCalc {
    position: fixed;
    width: 150px;
    top: 70%;
    margin-top: -50px;
    right: 1.5%;
    background:#ffffed;

    border-radius: 5%;
    border: 3px;
    border-style: solid;
    border-color: #7e7e7e;
    
    /* box-shadow: 0 0 0 2px white; */
    text-shadow: 2px 2px 2px gray;
}

.PetCalc > a > div {
    margin: 10px 2px 10px 2px;
}

.PetCalc > a {
    text-decoration-line: none;
    font-family: 'Ownglyph_meetme-Rg';
    color: hsl(0, 0%, 100%);
}
