/* Font */

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* MyBanner */

#MyBanner {
    color: white;
    background-image: url("../images/MyPage.jpg");
    /* background-size: cover; */
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 14em 0;
    margin-top: 75px;
    text-align: center;
    position: relative;
    height: 200px;
}

#MyBanner:before {
    content: '';
      position: absolute;
      left: 50%;
      top: 0;
     transform: translateX(-50%); /* 가운데로 이동 */
      width: 100%; /* 너비를 60%로 설정 */
      height: 100%;
      background: rgba(64, 72, 80, 0.25);			
}

#MyBanner .inner {
    position: relative;
    z-index: 1;
}

#MyBanner .inner :last-child {
    margin-bottom: 0;
}

/* content */
.py-5 {
    background-color: #fafafa;
    margin-bottom: -330px;
}

.px-5 {
    position: relative;
    top: -330px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    min-width: 950px;
}

#col-lg-9 {
    width: 75%;
}

.myPetList {
    margin-bottom: 5rem;
}

#PostHeader {
    text-align: left;
    margin-top: 10px;
    /* margin-bottom: 0.5rem!important; */
}

.mb-1 {
    display: inline;
    font-family: 'KBO-Dia-Gothic_bold'; 
    letter-spacing: normal;
    margin-left: 15px;
    font-size: 35px;
    color: #1897f1;
}

.mb-2 {
    display: inline;
    margin-left: 10px;
    font-family: 'SUITE-Regular';
    font-weight: bold;
}

#PostHeader > button {
    position: relative;
    float: right;
    right: 20px;
    width: 125px;
    font-family: 'KBO-Dia-Gothic_bold';
    background-color: #a7d3f3;
    border: 2px;
    border-style: solid;
    border-color: #c3e6ff;
    bottom: 5px;
}

#PostHeader > button:hover {
    background-color: #85ccff;
    border: 2px;
    border-style: solid;
    border-color: #9ed2f8;
}

#PostHeader > button:active {
    background-color: #6ac1ff !important;
    border-color: #9ed2f8 !important;
}

.card-body {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#pet-card {
    display: flex !important;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    width: 31%;
    height: 430px;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;

    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #bbbbbb;

}

.flex-shrink-0 {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.addPet {
    font-family: 'Ownglyph_meetme-Rg';
    color: #929292;
}

.flex-shrink-0 > img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 2rem;

    border: 5px;
    border-style: solid;
    border-color: #d8d7ff;
}

.flex-shrink-0 > a > img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    border: 2px;
    border-style: solid;
    border-color:#dbdbdb;
}

.d-flex > a > .ms-3 {
    margin-left: 0rem !important;
    margin-bottom: 1rem;
}

.d-flex > a {
    width: 100%;
    text-decoration-line: none;
    color: black;
}

#card-src {
    position: relative;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin-bottom: 0.5rem;
    margin-left: 5px;
    margin-right: 5px;
}

#card-src .fw-bold {
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 23px;
    background-image: url("../images/skyPaint.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
} 

#card-content {
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 23px;
    width: 60%;
    margin-left: 15px;
}

#card-content > hr {
    margin-bottom: 0rem;
}

.pet-datail {
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 18px;
    color: rgba(112, 112, 112, 0.377);
}

/* board */

   .board-container {
    background-color: #fff; /* White background */
    border: 1px solid #DEE2E6; /* Light grey border */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* padding: 1rem; */
    margin: auto;
  }

  .board-header {
    font-family: 'Ownglyph_meetme-Rg';
    background-color: aliceblue;
    display: flex;
    justify-content: left;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #DEE2E6;
  }

  .header-title {
    width: 60%;
  }

  .header-name {
    width: 20%;
  }

  .header-date {
    width: 20%;

  }
  .board-content {
    margin-bottom: 25px;
  }

  .board-item {
    background-color: white;
    padding: 0.5rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid #DEE2E6; /* Light grey border for each item */
  }

  .item-header {
    font-family: 'Ownglyph_meetme-Rg';
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-header > * {
    margin: 0;
    font-size: 18px;
    color: #495057; /* Dark grey color for text */
  }

  .item-header img {
    margin-left: 5px;
    width: 22px;
  }

  .item-header h5 {
    width: 57%;
  }

  .item-header > .item-content {
    width: 20%;
  }

  .item-header > .item-content > p a {
    color: inherit;
    text-decoration: none;
  }

  .item-header span {
    width: 20%;
  }

  .item-details {
    text-align: right;
  }

  .item-author {
    font-size: 0.875rem;
    color: #6C757D; /* Light grey color for author */
  }

  .item-date {
    font-size: 0.875rem;
    color: #ADB5BD; /* Even lighter grey for date */
    margin-left: 0.5rem;
  }

  .item-content p {
    margin: 0;
    color: #495057; /* Match the title color */
  }
  
  .item-divider {
    display: none; /* Remove the hr as we're using border-bottom for each item */
  }

/* sideBar */

#col-lg-3 {
    width: 25%;
    box-shadow: 1px 0px 0 #f0f0f0;
}

#mt-lg-5 {
    /* div 내에 중앙 정렬 */
    display : flex;
    justify-content: center;
    align-items : center;
    /* 여러 요소 세로 정렬 */
    flex-direction: column;
}

#profil-img {
    margin-bottom: 1rem !important;
    /* border 테두리 지정 */
    border: 5px;
    border-style: solid;
    border-color: #BDE3FF;
}

#myname {
    margin-bottom: 1rem !important;
}

#myname .fw-bold {
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 20px;
}

#myButten {
    margin-bottom: 1rem !important;
}

#myButten > button {
    border: 2px;
    font-family: 'KBO-Dia-Gothic_bold';
    border-style: solid;
    border-color: #cbe6fa;
    background-color: #b1dfff;
    margin-right: 1rem !important;
    margin-bottom: 0.5rem !important;
}

#myButten > button:hover {
    background-color: #85ccff;
    border: 2px;
    border-style: solid;
    border-color: #9ed2f8;
}

#myButten > button:active {
    background-color: #6ac1ff;
}


#myButten > button .fw-bold{
    color: white;
}

#contentCount {
    text-align: left;
    width: 140px;
}

#PageCount {
    color: #929292 !important;
    font-family: 'Ownglyph_meetme-Rg';
    font-size: 20px;
    border-bottom: 0rem !important;
}

.d-grid {
    margin-top: 1rem !important;
    width: 190px;
}

.d-grid > button {
    font-family: 'KBO-Dia-Gothic_bold';
    background-color: #a7d3f3;
    border: 2px;
    border-style: solid;
    border-color: #a7d3f3;
}

.d-grid > button:hover {
    background-color: #85ccff;
    border: 2px;
    border-style: solid;
    border-color: #9ed2f8;
}

.d-grid > button:active {
    background-color: #6ac1ff !important;
    border-color: #9ed2f8 !important;
}

hr {
    margin-top: 0rem !important;
    /* size: 0.1px;
    background-color:#85ccff;
    height: 2px; */
}

#mybtn {
    color: white;
    border-color: #ECEFF1;
    border: 3px solid;
    border-radius: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}
